<div *ngIf="book">

  <h2>{{book.name}} Details</h2>
  <div><span>id: </span>{{book.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="book.name" placeholder="Name"/>
    </label>
  </div>
  <div>
    <label>Author:
      <input [(ngModel)]="book.author" placeholder="Author"/>
    </label>
  </div>
  <div>
    <label>Description:
      <input [(ngModel)]="book.description" placeholder="Description"/>
    </label>
  </div>
  <div>
    <label>Year:
      <input [(ngModel)]="book.year" placeholder="Year"/>
    </label>
  </div>
  <div>
    <label>Price:
      <input [(ngModel)]="book.price" placeholder="Price"/>
    </label>
  </div>

</div>