<h2>Available books</h2>
<ul class='books'>
  <li *ngFor='let book of books' [class.selected]="book === selectedBook" (click)="onSelect(book)">
    <span class='badge'>{{book.id}}</span> {{book.name}}
  </li>
</ul>

<div *ngIf="selectedBook">
 
  <h2>{{selectedBook.name}} Details</h2>
  <div><span>id: </span>{{selectedBook.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="selectedBook.name" placeholder="Name">
    </label>
  </div>
  <div>
    <label>Author:
      <input [(ngModel)]="selectedBook.author" placeholder="Author">
    </label>
  </div>
  <div>
    <label>Description:
      <input [(ngModel)]="selectedBook.description" placeholder="Description">
    </label>
  </div>
  <div>
    <label>Year:
      <input [(ngModel)]="selectedBook.year" placeholder="Year">
    </label>
    <div>
      <label>Price:
        <input [(ngModel)]="selectedBook.price" placeholder="Price">
      </label>
    </div>
  </div>
 
</div>