<form #form="ngForm" autocomplete="off" (submit) = "onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.id">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i
            class="fas fa-book"
            [class.green-icon]="name.valid"
            [class.red-icon]="name.invalid && name.touched"
          ></i>
        </div>
      </div>
      <input
        name="name"
        #name="ngModel"
        [(ngModel)]="service.formData.name"
        class="form-control"
        placeholder="Name"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i
            class="fas fa-user-circle"
            [class.green-icon]="author.valid"
            [class.red-icon]="author.invalid && author.touched"
          ></i>
        </div>
      </div>
      <input
        name="author"
        #author="ngModel"
        [(ngModel)]="service.formData.author"
        class="form-control"
        placeholder="Author"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i
            class="fas fa-info-circle"
            [class.green-icon]="description.valid"
            [class.red-icon]="description.invalid && description.touched"
          ></i>
        </div>
      </div>
      <input
        name="description"
        #description="ngModel"
        [(ngModel)]="service.formData.description"
        class="form-control"
        placeholder="Description"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i
              class="far fa-calendar-alt"
              [class.green-icon]="year.valid"
              [class.red-icon]="year.invalid && year.touched"
            ></i>
          </div>
        </div>
        <input
          name="year"
          #year="ngModel"
          [(ngModel)]="service.formData.year"
          class="form-control"
          placeholder="Year"
          maxlength="4"
        />
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i
              class="far fa-money-bill-alt"
              [class.green-icon]="price.valid"
              [class.red-icon]="price.invalid && price.touched"
            ></i>
          </div>
        </div>
        <input
          name="price"
          #price="ngModel"
          [(ngModel)]="service.formData.price"
          class="form-control"
          placeholder="Price"
        />
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid">
      <i class="far fa-save"></i> Submit
    </button>
  </div>
</form>
